.loginDiv {
    width: 50%;
    margin: auto;
    text-align: center;
}

.label1 {
    margin-right: 50px;
}

.label2 {
    margin-right: 19px;
}

.loginButton {
    width: 100px;
    margin: auto;
    text-align: center;
}

.regDiv {
    width: 350px;
    margin: auto;
    text-align: center;
}

.userName {
    margin-right: 5px;
}

.regEmailLabel {
    margin-right: 40px;
}

.regPassLabel {
    margin-right: 9px;
}

.confirm {
    margin-left: 83px;
}
.regButton {

}