<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
        </nav>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </body>
</html>